html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body {
    background-image: url("images/cave-background.jpg");
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 3em 0.5em 3em;
    font-family: "Arial", sans-serif;
}

header{
    background: #3f3622;
}

header nav{
    text-align: right;
    padding: 0.5em;
}

header h1{
    text-align: center;
    padding: 0.5em;
    color: white;
    font-size: 3em;
}

article {
    background-color: white;
    text-align: center;
    padding: 1em;
}

article p{
    font-size: 1.5em;
}

#cave-img-big{
    padding: 1em;
    border: 1px solid black;
    margin-bottom: 0.5em;
}

#current-room{
    margin-bottom: 1em;
}

#remaining-arrows{
    margin-top: 1em;
}

div.room {
    width: 200px;
    display: inline-block;
}

.rooms{
    margin: 1em;
}


a:link{
    color: white;
}

a:visited{
    color: grey;
}

a:hover{
    color: red;
}

